/* Organização feita em cascata por componentes e subcomponentes  */
*{
  margin: 0;
  padding: 0;
  font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}

main{
  display: flex;
}

/* Conteúdo lateral esquerdo ======================================================================================= */

/* Componente primário: */
.leftContent{
  height: 100vh;
  width: 13.5vw;
  border-right: 1px solid #737373;
  margin-left: 20px;
  position: fixed;
}

.logotype img{
  padding-top: 35px;
  max-width: 70%;
}

/* Subcomponente: ItensMenu */
.navegacao{
  font-size: 1.2rem;
  list-style: none;
  margin-left: 10px;
  display: flex;
  justify-content: space-between;
}

.navegacao li{
  display: flex;
  align-items: center;
  padding-top: 25px;
}

.icons{
  font-size: 25px;
  margin-right: 8px;
}

@media screen and (max-width: 600px){
  .text{
    font-size: 0px;
  }
}

/* ================================================================================================================== */

/* Conteúdo Central ================================================================================================= */

.centralContent{
  height: 100vh;
  width: 70vw;
  margin-left: 15vw;
  margin-right: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.storyOrder{
  max-width: 70%;
  margin-top: 3%;
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 60px;
  display: flex;
  gap: 20px;
  justify-content: center;
}

.feed{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Subcomponente: Story */

.storyFeed{
  display: block;
  text-align: center;
}

.fundoImageUser{  
  display: flex;  
  align-items: center;
  justify-content: center;
  width: 86px;
  height: 86px;
  border-radius: 100%;
  background: linear-gradient( #c82d8e, #f99d5c);
}

.profilePic {
  height: 75px;
  width: 75px;
  border-radius: 100%;
  border: 3px solid white;
}

/* Subcomponente: FeedContent */

.conteudoFeed{
  width: 470px;
  margin-bottom: 50px;
}

.postName{
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  justify-content: space-between;
}

.postName svg{
  height: 25px;
  width: 25px;
}

.headerPost{
  display: flex;
  align-items: center;
  gap: 5px;
}

.userImage{
  height: 50px;
  width: 50px;
  border-radius: 100%;
  margin-right: 8px;
  border: 3px solid black;
}

.postConteudo{
  display: flex;
  justify-content: center;
  background: black;
}

.postConteudo img{
  max-width: 100%;
}

.iconsFeed{
  display: flex;
  justify-content: space-between;
}

.iconsFeed svg{
  margin-top: 5px;  
  height: 30px;
  width: 30px;
}

.feedActionLeft{
  display: flex;
  gap: 5px;
}

.descricao{
  margin-top: 5px;
  max-width: 80%;
  display: flex;
  flex-wrap: wrap;
}

.descricao h4{
  margin-right: 6px;
}

.botaoComent{
  margin-top: 10px;
  color: #737373;
}

.customInput{
  border: none;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 1rem;
}

.divisoria{
  margin-top: 10px;
}

/* ================================================================================================================== */

/* Conteúdo lateral direito ========================================================================================= */

/* Componente primário: */
.rightContent{
  height: 100vh;
  width: 10vw;
  border-left: 1px solid black;
}
